.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath
*.launch
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
*.DS_Store
run/